
nav { /*positionnement du menu*/
               width: 100%;
    position: fixed; 
                opacity: 0.7;
    top: 0; left: 0; 
            text-align: center;
}

nav:hover { /*grossissement du menu au passage de la souris*/
    transform: scale(1.2);  
    width: 100%

}

nav li {/*aspect des menus*/
                   /*width: 100%;*/
    display: inline;
             transition: background-color, color
                        1s
                        ease-out;
             background-color: lightblue;
    width: 100%;
             color: white;
    padding: 2em ;
             box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

nav li:hover { /*aspect des menus survolés*/
                   /*width: 100%;*/
  transition: background-color, color
              1s
              ease-out;
            background-color:white;
  color:black;

            /*box-shadow: 4px 4px 2px black;*/
} 
